.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input[type="checkbox"] {
  font-weight: 0;
  color: red;
  font-size: 28px;
}
.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
  display: none !important;
}
.MuiTablePagination-selectLabel {
  display: none;
}
