.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input[type="checkbox"] {
  font-weight: 0;
  color: red;
  font-size: 28px;
}
.header_tb {
  position: fixed !important;
  top: 48px;
  z-index: 1;
  background-color: #f3f3f4 !important;
}
thead {
  background-color: white !important;
}
tbody {
  position: relative;
  top: 60px !important;
  overflow: auto !important;
}
thead th:first-child {
  width: 60px;
}
thead th:nth-child(2) {
  width: 130px !important;
}
thead th:nth-child(3) {
  width: 270px !important;
}
thead th:nth-child(4) {
  width: 270px !important;
}
thead th:nth-child(5) {
  width: 270px !important;
}
thead th:nth-child(6) {
  width: 450px !important;
}
thead th:nth-child(7) {
  width: 260px;
}
thead th:nth-child(8) {
  width: 340px;
}
thead th:nth-child(9) {
  width: 50px;
}
thead th:nth-child(10) {
  width: 50px;
}
.table {
  position: absolute;
}
